openapi: 3.2.0
info:
  title: KU Leuven Research Data Repository (RDR) Admin API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Admin
paths:
  /admin/archiveAllUnarchivedDatasetVersions:
    post:
      operationId: Admin_archiveAllUnarchivedDatasetVersions
      parameters:
      - name: latestonly
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          format: int32
          type: integer
      - name: listonly
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin archive all unarchived dataset versions
      x-summary-source: derived
  /admin/assignee/{idtf}:
    get:
      operationId: Admin_findRoleAssignee
      parameters:
      - name: idtf
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin find role assignee
      x-summary-source: derived
  /admin/assignments/assignees/{raIdtf}:
    get:
      operationId: Admin_getAssignmentsFor
      parameters:
      - name: raIdtf
        in: path
        required: true
        schema:
          pattern: .*
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get assignments for
      x-summary-source: derived
  /admin/authenticatedUsers:
    get:
      operationId: Admin_listAuthenticatedUsers
      responses:
        '200':
          description: OK
      deprecated: true
      tags:
      - Admin
      summary: Admin list authenticated users
      x-summary-source: derived
    post:
      operationId: Admin_createAuthenicatedUser
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin create authenicated user
      x-summary-source: derived
  /admin/authenticatedUsers/convert/builtin2oauth:
    put:
      operationId: Admin_builtin2oauth
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin builtin2oauth
      x-summary-source: derived
  /admin/authenticatedUsers/convert/builtin2shib:
    put:
      operationId: Admin_builtin2shib
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin builtin2shib
      x-summary-source: derived
  /admin/authenticatedUsers/id/{id}:
    delete:
      operationId: Admin_deleteAuthenticatedUserById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete authenticated user by id
      x-summary-source: derived
  /admin/authenticatedUsers/id/{id}/convertRemoteToBuiltIn:
    put:
      operationId: Admin_convertOAuthUserToBuiltin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin convert OAuth user to builtin
      x-summary-source: derived
  /admin/authenticatedUsers/id/{id}/convertShibToBuiltIn:
    put:
      operationId: Admin_convertShibUserToBuiltin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      deprecated: true
      tags:
      - Admin
      summary: Admin convert shib user to builtin
      x-summary-source: derived
  /admin/authenticatedUsers/id/{id}/deactivate:
    post:
      operationId: Admin_deactivateAuthenticatedUserById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin deactivate authenticated user by id
      x-summary-source: derived
  /admin/authenticatedUsers/{identifier}:
    get:
      operationId: Admin_getAuthenticatedUserByIdentifier
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get authenticated user by identifier
      x-summary-source: derived
    delete:
      operationId: Admin_deleteAuthenticatedUser
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete authenticated user
      x-summary-source: derived
  /admin/authenticatedUsers/{identifier}/deactivate:
    post:
      operationId: Admin_deactivateAuthenticatedUser
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin deactivate authenticated user
      x-summary-source: derived
  /admin/authenticationProviderFactories:
    get:
      operationId: Admin_listAuthProviderFactories
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin list auth provider factories
      x-summary-source: derived
  /admin/authenticationProviders:
    get:
      operationId: Admin_listAuthProviders
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin list auth providers
      x-summary-source: derived
    post:
      operationId: Admin_addProvider
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin add provider
      x-summary-source: derived
  /admin/authenticationProviders/{id}:
    get:
      operationId: Admin_showProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin show provider
      x-summary-source: derived
    delete:
      operationId: Admin_deleteAuthenticationProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete authentication provider
      x-summary-source: derived
  /admin/authenticationProviders/{id}/:enabled:
    post:
      operationId: Admin_enableAuthenticationProvider_deprecated
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin enable authentication provider deprecated
      x-summary-source: derived
  /admin/authenticationProviders/{id}/enabled:
    get:
      operationId: Admin_checkAuthenticationProviderEnabled
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin check authentication provider enabled
      x-summary-source: derived
    put:
      operationId: Admin_enableAuthenticationProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin enable authentication provider
      x-summary-source: derived
  /admin/bannerMessage:
    get:
      operationId: Admin_getBannerMessages
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get banner messages
      x-summary-source: derived
    post:
      operationId: Admin_addBannerMessage
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin add banner message
      x-summary-source: derived
  /admin/bannerMessage/{id}:
    delete:
      operationId: Admin_deleteBannerMessage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete banner message
      x-summary-source: derived
  /admin/bannerMessage/{id}/deactivate:
    put:
      operationId: Admin_deactivateBannerMessage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin deactivate banner message
      x-summary-source: derived
  /admin/batch/jobs:
    get:
      operationId: BatchJobResource_listBatchJobs
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Batch job resource list batch jobs
      x-summary-source: derived
  /admin/batch/jobs/name/{jobName}:
    get:
      operationId: BatchJobResource_listBatchJobsByName
      parameters:
      - name: jobName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Batch job resource list batch jobs by name
      x-summary-source: derived
  /admin/batch/jobs/{jobId}:
    get:
      operationId: BatchJobResource_listBatchJobById
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Batch job resource list batch job by id
      x-summary-source: derived
  /admin/clearMetricsCache:
    delete:
      operationId: Admin_clearMetricsCache
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin clear metrics cache
      x-summary-source: derived
  /admin/clearMetricsCache/{name}:
    delete:
      operationId: Admin_clearMetricsCacheByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin clear metrics cache by name
      x-summary-source: derived
  /admin/clearThumbnailFailureFlag:
    delete:
      operationId: Admin_clearThumbnailFailureFlag
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin clear thumbnail failure flag
      x-summary-source: derived
  /admin/clearThumbnailFailureFlag/{id}:
    delete:
      operationId: Admin_clearThumbnailFailureFlagByDatafile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin clear thumbnail failure flag by datafile
      x-summary-source: derived
  /admin/computeDataFileHashValue/{fileId}/algorithm/{alg}:
    post:
      operationId: Admin_computeDataFileHashValue
      parameters:
      - name: alg
        in: path
        required: true
        schema:
          type: string
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin compute data file hash value
      x-summary-source: derived
  /admin/confirmEmail/{userId}:
    get:
      operationId: Admin_getConfirmEmailToken
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get confirm email token
      x-summary-source: derived
    post:
      operationId: Admin_startConfirmEmailProcess
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin start confirm email process
      x-summary-source: derived
  /admin/convertUserFromBcryptToSha1:
    post:
      operationId: Admin_convertUserFromBcryptToSha1
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin convert user from bcrypt to sha1
      x-summary-source: derived
  /admin/datafiles/auditFiles:
    get:
      operationId: Admin_getAuditFiles
      parameters:
      - name: datasetIdentifierList
        in: query
        schema:
          type: string
      - name: firstId
        in: query
        schema:
          format: int64
          type: integer
      - name: lastId
        in: query
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get audit files
      x-summary-source: derived
  /admin/datafiles/integrity/fixmissingoriginalsizes:
    get:
      operationId: Admin_fixMissingOriginalSizes
      parameters:
      - name: limit
        in: query
        schema:
          format: int32
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin fix missing original sizes
      x-summary-source: derived
  /admin/datafiles/integrity/fixmissingoriginaltypes:
    get:
      operationId: Admin_fixMissingOriginalTypes
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin fix missing original types
      x-summary-source: derived
  /admin/datasetfield:
    get:
      operationId: DatasetFieldServiceApi_getAll
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api get all
      x-summary-source: derived
  /admin/datasetfield/controlledVocabulary/subject:
    get:
      operationId: DatasetFieldServiceApi_showControlledVocabularyForSubject
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api show controlled vocabulary for subject
      x-summary-source: derived
  /admin/datasetfield/load:
    post:
      operationId: DatasetFieldServiceApi_loadDatasetFields
      requestBody:
        content:
          text/tab-separated-values:
            schema:
              format: binary
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api load dataset fields
      x-summary-source: derived
  /admin/datasetfield/loadNAControlledVocabularyValue:
    get:
      operationId: DatasetFieldServiceApi_loadNAControlledVocabularyValue
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api load NA controlled vocabulary value
      x-summary-source: derived
  /admin/datasetfield/loadpropertyfiles:
    post:
      operationId: DatasetFieldServiceApi_loadLanguagePropertyFile
      requestBody:
        content:
          application/zip:
            schema:
              format: binary
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api load language property file
      x-summary-source: derived
  /admin/datasetfield/setDisplayOnCreate:
    post:
      operationId: DatasetFieldServiceApi_setDisplayOnCreate
      parameters:
      - name: datasetFieldType
        in: query
        schema:
          type: string
      - name: setDisplayOnCreate
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api set display on create
      x-summary-source: derived
  /admin/datasetfield/{name}:
    get:
      operationId: DatasetFieldServiceApi_getByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Dataset field service api get by name
      x-summary-source: derived
  /admin/datasets/integrity/{datasetVersionId}/fixmissingunf:
    post:
      operationId: Admin_fixUnf
      parameters:
      - name: datasetVersionId
        in: path
        required: true
        schema:
          type: string
      - name: forceRecalculate
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin fix unf
      x-summary-source: derived
  /admin/datasets/thumbnailMetadata/{id}:
    get:
      operationId: Admin_getDatasetThumbnailMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get dataset thumbnail metadata
      x-summary-source: derived
  /admin/dataverse/curationLabelSets:
    get:
      operationId: Admin_listCurationLabelSets
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin list curation label sets
      x-summary-source: derived
  /admin/dataverse/storageDrivers:
    get:
      operationId: Admin_listStorageDrivers
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin list storage drivers
      x-summary-source: derived
  /admin/dataverse/{alias}/addRoleAssignmentsToChildren:
    get:
      operationId: Admin_addRoleAssignementsToChildren
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin add role assignements to children
      x-summary-source: derived
  /admin/dataverse/{alias}/curationLabelSet:
    get:
      operationId: Admin_getCurationLabelSet
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get curation label set
      x-summary-source: derived
    put:
      operationId: Admin_setCurationLabelSet
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin set curation label set
      x-summary-source: derived
    delete:
      operationId: Admin_resetCurationLabelSet
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin reset curation label set
      x-summary-source: derived
  /admin/dataverse/{alias}/storageDriver:
    get:
      operationId: Admin_getStorageDriver
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get storage driver
      x-summary-source: derived
    put:
      operationId: Admin_setStorageDriver
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin set storage driver
      x-summary-source: derived
    delete:
      operationId: Admin_resetStorageDriver
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin reset storage driver
      x-summary-source: derived
  /admin/downloadTmpFile:
    get:
      operationId: Admin_downloadTmpFile
      parameters:
      - name: fullyQualifiedPathToFile
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin download tmp file
      x-summary-source: derived
  /admin/externalTools:
    get:
      operationId: ExternalTools_getExternalTools
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: External tools get external tools
      x-summary-source: derived
    post:
      operationId: ExternalTools_addExternalTool
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: External tools add external tool
      x-summary-source: derived
  /admin/externalTools/{id}:
    get:
      operationId: ExternalTools_getExternalTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: External tools get external tool
      x-summary-source: derived
    delete:
      operationId: ExternalTools_deleteExternalTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: External tools delete external tool
      x-summary-source: derived
  /admin/featureFlags:
    get:
      operationId: Admin_getFeatureFlags
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get feature flags
      x-summary-source: derived
  /admin/featureFlags/{flag}:
    get:
      operationId: Admin_getFeatureFlag
      parameters:
      - name: flag
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get feature flag
      x-summary-source: derived
  /admin/feedback:
    post:
      operationId: FeedbackApi_submitFeedback
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Feedback api submit feedback
      x-summary-source: derived
  /admin/groups/domain:
    get:
      operationId: Groups_listMailDomainGroups
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups list mail domain groups
      x-summary-source: derived
    post:
      operationId: Groups_createMailDomainGroup
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups create mail domain group
      x-summary-source: derived
  /admin/groups/domain/{groupAlias}:
    get:
      operationId: Groups_getMailDomainGroup
      parameters:
      - name: groupAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups get mail domain group
      x-summary-source: derived
    put:
      operationId: Groups_updateMailDomainGroups
      parameters:
      - name: groupAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups update mail domain groups
      x-summary-source: derived
    delete:
      operationId: Groups_deleteMailDomainGroup
      parameters:
      - name: groupAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups delete mail domain group
      x-summary-source: derived
  /admin/groups/ip:
    get:
      operationId: Groups_listIpGroups
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups list ip groups
      x-summary-source: derived
    post:
      operationId: Groups_postIpGroup
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups post ip group
      x-summary-source: derived
  /admin/groups/ip/{group}:
    get:
      operationId: Groups_getIpGroup
      parameters:
      - name: group
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups get ip group
      x-summary-source: derived
    put:
      operationId: Groups_putIpGroups
      parameters:
      - name: group
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups put ip groups
      x-summary-source: derived
    delete:
      operationId: Groups_deleteIpGroup
      parameters:
      - name: group
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups delete ip group
      x-summary-source: derived
  /admin/groups/shib:
    get:
      operationId: Groups_listShibGroups
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups list shib groups
      x-summary-source: derived
    post:
      operationId: Groups_createShibGroup
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups create shib group
      x-summary-source: derived
  /admin/groups/shib/{primaryKey}:
    delete:
      operationId: Groups_deleteShibGroup
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Groups delete shib group
      x-summary-source: derived
  /admin/index:
    get:
      operationId: Index_indexAllOrSubset
      parameters:
      - name: numPartitions
        in: query
        schema:
          format: int64
          type: integer
      - name: partitionIdToProcess
        in: query
        schema:
          format: int64
          type: integer
      - name: previewOnly
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index all or subset
      x-summary-source: derived
  /admin/index/clear:
    get:
      operationId: Index_clearSolrIndex
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index clear solr index
      x-summary-source: derived
  /admin/index/clear-orphans:
    get:
      operationId: Index_clearOrphans
      parameters:
      - name: sync
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index clear orphans
      x-summary-source: derived
  /admin/index/continue:
    get:
      operationId: Index_indexAllOrSubsetContinue
      parameters:
      - name: numPartitions
        in: query
        schema:
          format: int64
          type: integer
      - name: partitionIdToProcess
        in: query
        schema:
          format: int64
          type: integer
      - name: previewOnly
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index all or subset continue
      x-summary-source: derived
  /admin/index/dataset:
    get:
      operationId: Index_indexDatasetByPersistentId
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index dataset by persistent id
      x-summary-source: derived
  /admin/index/datasets/{id}:
    delete:
      operationId: Index_clearDatasetFromIndex
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index clear dataset from index
      x-summary-source: derived
  /admin/index/filemetadata/{dataset_id}:
    get:
      operationId: Index_getFileMetadataByDatasetId
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: maxResults
        in: query
        schema:
          format: int32
          type: integer
      - name: order
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index get file metadata by dataset id
      x-summary-source: derived
  /admin/index/filesearch:
    get:
      operationId: Index_filesearch
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: semanticVersion
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index filesearch
      x-summary-source: derived
  /admin/index/mod:
    get:
      operationId: Index_indexMod
      parameters:
      - name: partitions
        in: query
        schema:
          format: int64
          type: integer
      - name: which
        in: query
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index mod
      x-summary-source: derived
  /admin/index/perms:
    get:
      operationId: Index_indexAllPermissions
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index all permissions
      x-summary-source: derived
  /admin/index/perms/{id}:
    get:
      operationId: Index_indexPermissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index permissions
      x-summary-source: derived
  /admin/index/permsDebug:
    get:
      operationId: Index_searchPermsDebug
      parameters:
      - name: id
        in: query
        schema:
          format: int64
          type: integer
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index search perms debug
      x-summary-source: derived
  /admin/index/solr/schema:
    get:
      operationId: Index_getSolrSchema
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      tags:
      - Admin
      summary: Index get solr schema
      x-summary-source: derived
  /admin/index/status:
    get:
      operationId: Index_indexStatus
      parameters:
      - name: sync
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index status
      x-summary-source: derived
  /admin/index/test:
    get:
      operationId: Index_searchDebug
      parameters:
      - name: fq
        in: query
        schema:
          type: array
          items:
            type: string
      - name: key
        in: query
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index search debug
      x-summary-source: derived
  /admin/index/timestamps:
    delete:
      operationId: Index_deleteAllTimestamps
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index delete all timestamps
      x-summary-source: derived
  /admin/index/timestamps/{dvObjectId}:
    delete:
      operationId: Index_deleteTimestamp
      parameters:
      - name: dvObjectId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index delete timestamp
      x-summary-source: derived
  /admin/index/{type}/{id}:
    get:
      operationId: Index_indexTypeById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Index index type by id
      x-summary-source: derived
  /admin/isOrcid:
    get:
      operationId: Admin_isOrcidEnabled
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin is orcid enabled
      x-summary-source: derived
  /admin/list-users:
    get:
      operationId: Admin_filterAuthenticatedUsers
      parameters:
      - name: itemsPerPage
        in: query
        schema:
          format: int32
          type: integer
      - name: searchTerm
        in: query
        schema:
          type: string
      - name: selectedPage
        in: query
        schema:
          format: int32
          type: integer
      - name: sortKey
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin filter authenticated users
      x-summary-source: derived
  /admin/makeDataCount/addUsageMetricsFromSushiReport:
    post:
      operationId: MakeDataCountApi_addUsageMetricsFromSushiReportAll
      parameters:
      - name: reportOnDisk
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api add usage metrics from sushi report all
      x-summary-source: derived
  /admin/makeDataCount/sendToHub:
    post:
      operationId: MakeDataCountApi_sendDataToHub
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api send data to hub
      x-summary-source: derived
  /admin/makeDataCount/{id}/addUsageMetricsFromSushiReport:
    post:
      operationId: MakeDataCountApi_addUsageMetricsFromSushiReport
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: reportOnDisk
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api add usage metrics from sushi report
      x-summary-source: derived
  /admin/makeDataCount/{id}/updateCitationsForDataset:
    post:
      operationId: MakeDataCountApi_updateCitationsForDataset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api update citations for dataset
      x-summary-source: derived
  /admin/makeDataCount/{yearMonth}/processingState:
    get:
      operationId: MakeDataCountApi_getProcessingState
      parameters:
      - name: yearMonth
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api get processing state
      x-summary-source: derived
    post:
      operationId: MakeDataCountApi_updateProcessingState
      parameters:
      - name: yearMonth
        in: path
        required: true
        schema:
          type: string
      - name: server
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api update processing state
      x-summary-source: derived
    delete:
      operationId: MakeDataCountApi_deleteProcessingState
      parameters:
      - name: yearMonth
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Make data count api delete processing state
      x-summary-source: derived
  /admin/metadata/clearExportTimestamps:
    get:
      operationId: Metadata_clearExportTimestamps
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Metadata clear export timestamps
      x-summary-source: derived
  /admin/metadata/exportAll:
    get:
      operationId: Metadata_exportAll
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Metadata export all
      x-summary-source: derived
  /admin/metadata/exportOAI/{specname}:
    put:
      operationId: Metadata_exportOaiSet
      parameters:
      - name: specname
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Metadata export oai set
      x-summary-source: derived
  /admin/metadata/reExportAll:
    get:
      operationId: Metadata_reExportAll
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Metadata re export all
      x-summary-source: derived
  /admin/metadata/{id}/reExportDataset:
    get:
      operationId: Metadata_indexDatasetByPersistentId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Metadata index dataset by persistent id
      x-summary-source: derived
  /admin/permissions/{dvo}:
    get:
      operationId: Admin_findPermissonsOn
      parameters:
      - name: dvo
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin find permissons on
      x-summary-source: derived
  /admin/publishDataverseAsCreator/{id}:
    post:
      operationId: Admin_publishDataverseAsCreator
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin publish dataverse as creator
      x-summary-source: derived
  /admin/rateLimitStats:
    get:
      operationId: Admin_rateLimitStats
      parameters:
      - name: deltaMinutesFilter
        in: query
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin rate limit stats
      x-summary-source: derived
  /admin/registerDataFileAll:
    get:
      operationId: Admin_registerDataFileAll
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin register data file all
      x-summary-source: derived
  /admin/registerDataFiles/{alias}:
    get:
      operationId: Admin_registerDataFilesInCollection
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      - name: sleep
        in: query
        schema:
          format: int32
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin register data files in collection
      x-summary-source: derived
  /admin/requestSignedUrl:
    post:
      operationId: Admin_getSignedUrl
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get signed url
      x-summary-source: derived
  /admin/roles:
    get:
      operationId: Admin_listBuiltinRoles
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin list builtin roles
      x-summary-source: derived
    post:
      operationId: Admin_createNewBuiltinRole
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin create new builtin role
      x-summary-source: derived
  /admin/roles/{id}:
    put:
      operationId: Admin_updateBuiltinRole
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin update builtin role
      x-summary-source: derived
    delete:
      operationId: Admin_deleteRole
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete role
      x-summary-source: derived
  /admin/savedsearches:
    get:
      operationId: SavedSearches_meta
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches meta
      x-summary-source: derived
    post:
      operationId: SavedSearches_add
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches add
      x-summary-source: derived
  /admin/savedsearches/list:
    get:
      operationId: SavedSearches_list
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches list
      x-summary-source: derived
  /admin/savedsearches/makelinks/all:
    put:
      operationId: SavedSearches_makeLinksForAllSavedSearches
      parameters:
      - name: debug
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches make links for all saved searches
      x-summary-source: derived
  /admin/savedsearches/makelinks/{id}:
    put:
      operationId: SavedSearches_makeLinksForSingleSavedSearch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: debug
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches make links for single saved search
      x-summary-source: derived
  /admin/savedsearches/{id}:
    get:
      operationId: SavedSearches_show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches show
      x-summary-source: derived
    delete:
      operationId: SavedSearches_delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: unlink
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Saved searches delete
      x-summary-source: derived
  /admin/settings:
    get:
      operationId: Admin_listAllSettings
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin list all settings
      x-summary-source: derived
  /admin/settings/{name}:
    get:
      operationId: Admin_getSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin get setting
      x-summary-source: derived
    put:
      operationId: Admin_putSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin put setting
      x-summary-source: derived
    delete:
      operationId: Admin_deleteSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete setting
      x-summary-source: derived
  /admin/settings/{name}/lang/{lang}:
    put:
      operationId: Admin_putSettingLang
      parameters:
      - name: lang
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin put setting lang
      x-summary-source: derived
    delete:
      operationId: Admin_deleteSettingLang
      parameters:
      - name: lang
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete setting lang
      x-summary-source: derived
  /admin/sitemap:
    post:
      operationId: SiteMap_updateSiteMap
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Site map update site map
      x-summary-source: derived
  /admin/storageSites:
    get:
      operationId: StorageSites_listAll
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Storage sites list all
      x-summary-source: derived
    post:
      operationId: StorageSites_addSite
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Storage sites add site
      x-summary-source: derived
  /admin/storageSites/{id}:
    get:
      operationId: StorageSites_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Storage sites get
      x-summary-source: derived
    delete:
      operationId: StorageSites_delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Storage sites delete
      x-summary-source: derived
  /admin/storageSites/{id}/primaryStorage:
    put:
      operationId: StorageSites_setPrimary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Storage sites set primary
      x-summary-source: derived
  /admin/submitDatasetVersionToArchive/{id}/{version}:
    post:
      operationId: Admin_submitDatasetVersionToArchive
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin submit dataset version to archive
      x-summary-source: derived
  /admin/superuser/{identifier}:
    put:
      operationId: Admin_setSuperuserStatus
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin set superuser status
      x-summary-source: derived
    post:
      operationId: Admin_toggleSuperuser
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      tags:
      - Admin
      summary: Admin toggle superuser
      x-summary-source: derived
  /admin/template/{id}:
    delete:
      operationId: Admin_deleteTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin delete template
      x-summary-source: derived
  /admin/templates:
    get:
      operationId: Admin_findAllTemplates
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin find all templates
      x-summary-source: derived
  /admin/templates/{alias}:
    get:
      operationId: Admin_findTemplates
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin find templates
      x-summary-source: derived
  /admin/test/datasets/{id}/externalTool/{toolId}:
    get:
      operationId: TestApi_getExternalToolforDatasetById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Test api get external toolfor dataset by id
      x-summary-source: derived
  /admin/test/datasets/{id}/externalTools:
    get:
      operationId: TestApi_getDatasetExternalToolsforFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Test api get dataset external toolsfor file
      x-summary-source: derived
  /admin/test/files/{id}/externalTool/{toolId}:
    get:
      operationId: TestApi_getExternalToolForFileById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Test api get external tool for file by id
      x-summary-source: derived
  /admin/test/files/{id}/externalTools:
    get:
      operationId: TestApi_getExternalToolsForFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Test api get external tools for file
      x-summary-source: derived
  /admin/updateHashValues/{alg}:
    get:
      operationId: Admin_updateHashValues
      parameters:
      - name: alg
        in: path
        required: true
        schema:
          type: string
      - name: num
        in: query
        schema:
          format: int32
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin update hash values
      x-summary-source: derived
  /admin/validate/dataset/files/{id}:
    get:
      operationId: Admin_validateDatasetDatafiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin validate dataset datafiles
      x-summary-source: derived
  /admin/validate/dataset/{id}:
    get:
      operationId: Admin_validateDataset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: variables
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin validate dataset
      x-summary-source: derived
  /admin/validate/datasets:
    get:
      operationId: Admin_validateAllDatasets
      parameters:
      - name: variables
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin validate all datasets
      x-summary-source: derived
  /admin/validateDataFileHashValue/{fileId}:
    post:
      operationId: Admin_validateDataFileHashValue
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin validate data file hash value
      x-summary-source: derived
  /admin/validatePassword:
    post:
      operationId: Admin_validatePassword
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin validate password
      x-summary-source: derived
  /admin/workflows:
    get:
      operationId: WorkflowsAdmin_listWorkflows
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin list workflows
      x-summary-source: derived
    post:
      operationId: WorkflowsAdmin_addWorkflow
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin add workflow
      x-summary-source: derived
  /admin/workflows/default:
    get:
      operationId: WorkflowsAdmin_listDefaults
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin list defaults
      x-summary-source: derived
  /admin/workflows/default/{triggerType}:
    get:
      operationId: WorkflowsAdmin_getDefault
      parameters:
      - name: triggerType
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin get default
      x-summary-source: derived
    put:
      operationId: WorkflowsAdmin_setDefault
      parameters:
      - name: triggerType
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin set default
      x-summary-source: derived
    delete:
      operationId: WorkflowsAdmin_deleteDefault
      parameters:
      - name: triggerType
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin delete default
      x-summary-source: derived
  /admin/workflows/ip-whitelist:
    get:
      operationId: WorkflowsAdmin_getIpWhitelist
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin get ip whitelist
      x-summary-source: derived
    put:
      operationId: WorkflowsAdmin_setIpWhitelist
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin set ip whitelist
      x-summary-source: derived
    delete:
      operationId: WorkflowsAdmin_deleteIpWhitelist
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin delete ip whitelist
      x-summary-source: derived
  /admin/workflows/{id}:
    get:
      operationId: WorkflowsAdmin_getWorkflow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin get workflow
      x-summary-source: derived
    delete:
      operationId: WorkflowsAdmin_deleteWorkflow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Workflows admin delete workflow
      x-summary-source: derived
  /admin/{id}/registerDataFile:
    get:
      operationId: Admin_registerDataFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin register data file
      x-summary-source: derived
  /admin/{id}/reregisterHDLToPID:
    post:
      operationId: Admin_reregisterHdlToPID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Admin
      summary: Admin reregister hdl to PID
      x-summary-source: derived
