openapi: 3.2.0
info:
  title: KU Leuven Research Data Repository (RDR) Dataverses API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Dataverses
paths:
  /dataverses:
    post:
      operationId: Dataverses_addRoot
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses add root
      x-summary-source: derived
  /dataverses/{dataverseId}/featuredItems:
    put:
      operationId: Dataverses_updateFeaturedItems
      parameters:
      - name: dataverseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: array
              items:
                format: int64
                type: integer
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update featured items
      x-summary-source: derived
  /dataverses/{identifier}:
    get:
      operationId: Dataverses_getDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: returnChildCount
        in: query
        schema:
          type: boolean
      - name: returnOwners
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get dataverse
      x-summary-source: derived
    put:
      operationId: Dataverses_updateDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update dataverse
      x-summary-source: derived
    post:
      operationId: Dataverses_addDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses add dataverse
      x-summary-source: derived
    delete:
      operationId: Dataverses_deleteDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete dataverse
      x-summary-source: derived
  /dataverses/{identifier}/actions/:publish:
    post:
      operationId: Dataverses_publishDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses publish dataverse
      x-summary-source: derived
  /dataverses/{identifier}/assignments:
    get:
      operationId: Dataverses_listAssignments
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list assignments
      x-summary-source: derived
    post:
      operationId: Dataverses_createAssignment
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses create assignment
      x-summary-source: derived
  /dataverses/{identifier}/assignments/{id}:
    delete:
      operationId: Dataverses_deleteAssignment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete assignment
      x-summary-source: derived
  /dataverses/{identifier}/attribute/{attribute}:
    put:
      operationId: Dataverses_updateAttribute
      parameters:
      - name: attribute
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: value
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update attribute
      x-summary-source: derived
  /dataverses/{identifier}/contents:
    get:
      operationId: Dataverses_listContent
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list content
      x-summary-source: derived
  /dataverses/{identifier}/datasetSchema:
    get:
      operationId: Dataverses_getDatasetSchema
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get dataset schema
      x-summary-source: derived
  /dataverses/{identifier}/datasets:
    post:
      operationId: Dataverses_createDataset
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: doNotValidate
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              type: string
          application/json-ld:
            schema:
              type: string
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses create dataset
      x-summary-source: derived
  /dataverses/{identifier}/datasets/:import:
    post:
      operationId: Dataverses_importDataset
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: pid
        in: query
        schema:
          type: string
      - name: release
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses import dataset
      x-summary-source: derived
  /dataverses/{identifier}/datasets/:importddi:
    post:
      operationId: Dataverses_importDatasetDdi
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: pid
        in: query
        schema:
          type: string
      - name: release
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses import dataset ddi
      x-summary-source: derived
  /dataverses/{identifier}/datasets/:startmigration:
    post:
      operationId: Dataverses_recreateDataset
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              type: string
          application/json-ld:
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses recreate dataset
      x-summary-source: derived
  /dataverses/{identifier}/defaultContributorRole/{roleAlias}:
    put:
      operationId: Dataverses_updateDefaultContributorRole
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: roleAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update default contributor role
      x-summary-source: derived
  /dataverses/{identifier}/facets:
    get:
      operationId: Dataverses_listFacets
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: returnDetails
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list facets
      x-summary-source: derived
    post:
      operationId: Dataverses_setFacets
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set facets
      x-summary-source: derived
  /dataverses/{identifier}/featured:
    get:
      operationId: Dataverses_getFeaturedDataverses
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get featured dataverses
      x-summary-source: derived
    post:
      operationId: Dataverses_setFeaturedDataverses
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set featured dataverses
      x-summary-source: derived
    delete:
      operationId: Dataverses_deleteFeaturedCollections
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete featured collections
      x-summary-source: derived
  /dataverses/{identifier}/featuredItems:
    get:
      operationId: Dataverses_listFeaturedItems
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list featured items
      x-summary-source: derived
    post:
      operationId: Dataverses_createFeaturedItem
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses create featured item
      x-summary-source: derived
    delete:
      operationId: Dataverses_deleteFeaturedItems
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete featured items
      x-summary-source: derived
  /dataverses/{identifier}/groups:
    get:
      operationId: Dataverses_listGroups
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list groups
      x-summary-source: derived
    post:
      operationId: Dataverses_createExplicitGroup
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses create explicit group
      x-summary-source: derived
  /dataverses/{identifier}/groups/{aliasInOwner}:
    get:
      operationId: Dataverses_getGroupByOwnerAndAliasInOwner
      parameters:
      - name: aliasInOwner
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get group by owner and alias in owner
      x-summary-source: derived
    put:
      operationId: Dataverses_updateGroup
      parameters:
      - name: aliasInOwner
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update group
      x-summary-source: derived
    delete:
      operationId: Dataverses_deleteGroup
      parameters:
      - name: aliasInOwner
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete group
      x-summary-source: derived
  /dataverses/{identifier}/groups/{aliasInOwner}/roleAssignees:
    post:
      operationId: Dataverses_addRoleAssingees
      parameters:
      - name: aliasInOwner
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses add role assingees
      x-summary-source: derived
  /dataverses/{identifier}/groups/{aliasInOwner}/roleAssignees/{roleAssigneeIdentifier}:
    put:
      operationId: Dataverses_addRoleAssingee
      parameters:
      - name: aliasInOwner
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: roleAssigneeIdentifier
        in: path
        required: true
        schema:
          pattern: .*
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses add role assingee
      x-summary-source: derived
    delete:
      operationId: Dataverses_deleteRoleAssingee
      parameters:
      - name: aliasInOwner
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: roleAssigneeIdentifier
        in: path
        required: true
        schema:
          pattern: .*
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete role assingee
      x-summary-source: derived
  /dataverses/{identifier}/guestbookResponses:
    get:
      operationId: Dataverses_getGuestbookResponsesByDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: guestbookId
        in: query
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get guestbook responses by dataverse
      x-summary-source: derived
  /dataverses/{identifier}/inputLevels:
    get:
      operationId: Dataverses_getInputLevels
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get input levels
      x-summary-source: derived
    put:
      operationId: Dataverses_updateInputLevels
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update input levels
      x-summary-source: derived
  /dataverses/{identifier}/links:
    get:
      operationId: Dataverses_listLinks
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list links
      x-summary-source: derived
  /dataverses/{identifier}/metadatablockfacets:
    get:
      operationId: Dataverses_listMetadataBlockFacets
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list metadata block facets
      x-summary-source: derived
    post:
      operationId: Dataverses_setMetadataBlockFacets
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set metadata block facets
      x-summary-source: derived
  /dataverses/{identifier}/metadatablockfacets/isRoot:
    post:
      operationId: Dataverses_updateMetadataBlockFacetsRoot
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses update metadata block facets root
      x-summary-source: derived
  /dataverses/{identifier}/metadatablocks:
    get:
      operationId: Dataverses_listMetadataBlocks
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: datasetType
        in: query
        schema:
          type: string
      - name: onlyDisplayedOnCreate
        in: query
        schema:
          type: boolean
      - name: returnDatasetFieldTypes
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list metadata blocks
      x-summary-source: derived
    post:
      operationId: Dataverses_setMetadataBlocks
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set metadata blocks
      x-summary-source: derived
  /dataverses/{identifier}/metadatablocks/:isRoot:
    get:
      operationId: Dataverses_getMetadataRoot_legacy
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get metadata root legacy
      x-summary-source: derived
    post:
      operationId: Dataverses_setMetadataRoot_legacy
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set metadata root legacy
      x-summary-source: derived
  /dataverses/{identifier}/metadatablocks/isRoot:
    get:
      operationId: Dataverses_getMetadataRoot
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get metadata root
      x-summary-source: derived
    put:
      operationId: Dataverses_setMetadataRoot
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set metadata root
      x-summary-source: derived
  /dataverses/{identifier}/roles:
    get:
      operationId: Dataverses_listRoles
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses list roles
      x-summary-source: derived
    post:
      operationId: Dataverses_createRole
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses create role
      x-summary-source: derived
  /dataverses/{identifier}/storage/quota:
    get:
      operationId: Dataverses_getCollectionQuota
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get collection quota
      x-summary-source: derived
    delete:
      operationId: Dataverses_deleteCollectionQuota
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete collection quota
      x-summary-source: derived
  /dataverses/{identifier}/storage/quota/{bytesAllocated}:
    post:
      operationId: Dataverses_setCollectionQuota
      parameters:
      - name: bytesAllocated
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses set collection quota
      x-summary-source: derived
  /dataverses/{identifier}/storage/use:
    get:
      operationId: Dataverses_getCollectionStorageUse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get collection storage use
      x-summary-source: derived
  /dataverses/{identifier}/storagesize:
    get:
      operationId: Dataverses_getStorageSize
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: includeCached
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get storage size
      x-summary-source: derived
  /dataverses/{identifier}/userPermissions:
    get:
      operationId: Dataverses_getUserPermissionsOnDataverse
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses get user permissions on dataverse
      x-summary-source: derived
  /dataverses/{identifier}/validateDatasetJson:
    post:
      operationId: Dataverses_validateDatasetJson
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses validate dataset json
      x-summary-source: derived
  /dataverses/{id}/move/{targetDataverseAlias}:
    post:
      operationId: Dataverses_moveDataverse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: targetDataverseAlias
        in: path
        required: true
        schema:
          type: string
      - name: forceMove
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses move dataverse
      x-summary-source: derived
  /dataverses/{linkedDataverseAlias}/link/{linkingDataverseAlias}:
    put:
      operationId: Dataverses_linkDataverse
      parameters:
      - name: linkedDataverseAlias
        in: path
        required: true
        schema:
          type: string
      - name: linkingDataverseAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses link dataverse
      x-summary-source: derived
  /dataverses/{linkingDataverseId}/deleteLink/{linkedDataverseId}:
    delete:
      operationId: Dataverses_deleteDataverseLinkingDataverse
      parameters:
      - name: linkedDataverseId
        in: path
        required: true
        schema:
          type: string
      - name: linkingDataverseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Dataverses
      summary: Dataverses delete dataverse linking dataverse
      x-summary-source: derived
