openapi: 3.2.0
info:
  title: KU Leuven Research Data Repository (RDR) Batch API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Batch
paths:
  /batch/harvest:
    get:
      operationId: BatchImport_harvest
      parameters:
      - name: createDV
        in: query
        schema:
          type: boolean
      - name: dv
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      - name: path
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Batch
      summary: Batch import harvest
      x-summary-source: derived
  /batch/import:
    get:
      operationId: BatchImport_getImport
      parameters:
      - name: createDV
        in: query
        schema:
          type: boolean
      - name: dv
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      - name: path
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Batch
      summary: Batch import get import
      x-summary-source: derived
    post:
      operationId: BatchImport_postImport
      parameters:
      - name: dv
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Batch
      summary: Batch import post import
      x-summary-source: derived
  /batch/jobs/import/datasets/files/{identifier}:
    post:
      operationId: FileRecordJobResource_getFilesystemImport
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: mode
        in: query
        schema:
          default: MERGE
          type: string
      - name: totalSize
        in: query
        schema:
          format: int64
          type: integer
      - name: uploadFolder
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Batch
      summary: File record job resource get filesystem import
      x-summary-source: derived
