openapi: 3.2.0
info:
  title: KU Leuven Research Data Repository (RDR) Notifications API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Notifications
paths:
  /notifications/all:
    get:
      operationId: Notifications_getAllNotificationsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications get all notifications for user
      x-summary-source: derived
  /notifications/mutedEmails:
    get:
      operationId: Notifications_getMutedEmailsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications get muted emails for user
      x-summary-source: derived
  /notifications/mutedEmails/{typeName}:
    put:
      operationId: Notifications_muteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications mute emails for user
      x-summary-source: derived
    delete:
      operationId: Notifications_unmuteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications unmute emails for user
      x-summary-source: derived
  /notifications/mutedNotifications:
    get:
      operationId: Notifications_getMutedNotificationsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications get muted notifications for user
      x-summary-source: derived
  /notifications/mutedNotifications/{typeName}:
    put:
      operationId: Notifications_muteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications mute notifications for user
      x-summary-source: derived
    delete:
      operationId: Notifications_unmuteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications unmute notifications for user
      x-summary-source: derived
  /notifications/{id}:
    delete:
      operationId: Notifications_deleteNotificationForUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Notifications
      summary: Notifications delete notification for user
      x-summary-source: derived
