openapi: 3.2.0
info:
  title: KU Leuven Research Data Repository (RDR) Roles API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Roles
paths:
  /roles:
    post:
      operationId: Roles_createNewRole
      parameters:
      - name: dvo
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Roles
      summary: Roles create new role
      x-summary-source: derived
  /roles/userSelectable:
    get:
      operationId: Roles_getUserSelectableRoles
      responses:
        '200':
          description: OK
      tags:
      - Roles
      summary: Roles get user selectable roles
      x-summary-source: derived
  /roles/{id}:
    get:
      operationId: Roles_viewRole
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Roles
      summary: Roles view role
      x-summary-source: derived
    delete:
      operationId: Roles_deleteRole
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Roles
      summary: Roles delete role
      x-summary-source: derived
