openapi: 3.2.0
info:
  title: KU Leuven Research Data Repository (RDR) Info API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Info
paths:
  /info/metrics/accounts:
    get:
      operationId: Metrics_getAccountsAllTime
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get accounts all time
      x-summary-source: derived
  /info/metrics/accounts/monthly:
    get:
      operationId: Metrics_getAccountsTimeSeries
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get accounts time series
      x-summary-source: derived
  /info/metrics/accounts/pastDays/{days}:
    get:
      operationId: Metrics_getAccountsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get accounts past days
      x-summary-source: derived
  /info/metrics/accounts/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getAccountsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get accounts to month
      x-summary-source: derived
  /info/metrics/datasets:
    get:
      operationId: Metrics_getDatasetsAllTime
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get datasets all time
      x-summary-source: derived
  /info/metrics/datasets/bySubject:
    get:
      operationId: Metrics_getDatasetsBySubject
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get datasets by subject
      x-summary-source: derived
  /info/metrics/datasets/bySubject/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDatasetsBySubjectToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get datasets by subject to month
      x-summary-source: derived
  /info/metrics/datasets/monthly:
    get:
      operationId: Metrics_getDatasetsTimeSeriest
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get datasets time seriest
      x-summary-source: derived
  /info/metrics/datasets/pastDays/{days}:
    get:
      operationId: Metrics_getDatasetsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get datasets past days
      x-summary-source: derived
  /info/metrics/datasets/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDatasetsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get datasets to month
      x-summary-source: derived
  /info/metrics/dataverses:
    get:
      operationId: Metrics_getDataversesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses all time
      x-summary-source: derived
  /info/metrics/dataverses/byCategory:
    get:
      operationId: Metrics_getDataversesByCategory
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses by category
      x-summary-source: derived
  /info/metrics/dataverses/bySubject:
    get:
      operationId: Metrics_getDataversesBySubject
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses by subject
      x-summary-source: derived
  /info/metrics/dataverses/monthly:
    get:
      operationId: Metrics_getDataversesTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses time series
      x-summary-source: derived
  /info/metrics/dataverses/pastDays/{days}:
    get:
      operationId: Metrics_getDataversesPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses past days
      x-summary-source: derived
  /info/metrics/dataverses/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDataversesToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses to month
      x-summary-source: derived
  /info/metrics/downloads:
    get:
      operationId: Metrics_getDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get downloads all time
      x-summary-source: derived
  /info/metrics/downloads/monthly:
    get:
      operationId: Metrics_getDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get downloads time series
      x-summary-source: derived
  /info/metrics/downloads/pastDays/{days}:
    get:
      operationId: Metrics_getDownloadsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get downloads past days
      x-summary-source: derived
  /info/metrics/downloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get downloads to month
      x-summary-source: derived
  /info/metrics/filedownloads:
    get:
      operationId: Metrics_getFileDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get file downloads all time
      x-summary-source: derived
  /info/metrics/filedownloads/monthly:
    get:
      operationId: Metrics_getFileDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get file downloads time series
      x-summary-source: derived
  /info/metrics/filedownloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getFileDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get file downloads to month
      x-summary-source: derived
  /info/metrics/files:
    get:
      operationId: Metrics_getFilesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get files all time
      x-summary-source: derived
  /info/metrics/files/byType:
    get:
      operationId: Metrics_getFilesByType
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get files by type
      x-summary-source: derived
  /info/metrics/files/byType/monthly:
    get:
      operationId: Metrics_getFilesByTypeTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get files by type time series
      x-summary-source: derived
  /info/metrics/files/monthly:
    get:
      operationId: Metrics_getFilesTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get files time series
      x-summary-source: derived
  /info/metrics/files/pastDays/{days}:
    get:
      operationId: Metrics_getFilesPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get files past days
      x-summary-source: derived
  /info/metrics/files/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getFilesToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get files to month
      x-summary-source: derived
  /info/metrics/makeDataCount/{metric}:
    get:
      operationId: Metrics_getMakeDataCountMetricCurrentMonth
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get make data count metric current month
      x-summary-source: derived
  /info/metrics/makeDataCount/{metric}/monthly:
    get:
      operationId: Metrics_getMakeDataCountMetricTimeSeries
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get make data count metric time series
      x-summary-source: derived
  /info/metrics/makeDataCount/{metric}/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getMakeDataCountMetricToMonth
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get make data count metric to month
      x-summary-source: derived
  /info/metrics/tree:
    get:
      operationId: Metrics_getDataversesTree
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses tree
      x-summary-source: derived
  /info/metrics/tree/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDataversesTreeToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get dataverses tree to month
      x-summary-source: derived
  /info/metrics/uniquedownloads:
    get:
      operationId: Metrics_getUniqueDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get unique downloads all time
      x-summary-source: derived
  /info/metrics/uniquedownloads/monthly:
    get:
      operationId: Metrics_getUniqueDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get unique downloads time series
      x-summary-source: derived
  /info/metrics/uniquedownloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getUniqueDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get unique downloads to month
      x-summary-source: derived
  /info/metrics/uniquefiledownloads:
    get:
      operationId: Metrics_getUniqueFileDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get unique file downloads all time
      x-summary-source: derived
  /info/metrics/uniquefiledownloads/monthly:
    get:
      operationId: Metrics_getUniqueFileDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get unique file downloads time series
      x-summary-source: derived
  /info/metrics/uniquefiledownloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getUniqueFileDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
      summary: Metrics get unique file downloads to month
      x-summary-source: derived
  /info/apiTermsOfUse:
    get:
      tags:
      - Info
      operationId: Info_getTermsOfUse
      responses:
        '200':
          description: OK
      summary: Info get terms of use
      x-summary-source: derived
  /info/applicationTermsOfUse:
    get:
      tags:
      - Info
      operationId: Info_getApplicationTermsOfUse
      parameters:
      - name: lang
        in: query
        description: Two-character language code.
        required: false
        schema:
          type: string
        example: en
      responses:
        '200':
          description: Application Terms of Use (General Terms of Use) that must be agreed to at signup.
      summary: Info get application terms of use
      x-summary-source: derived
  /info/exportFormats:
    get:
      tags:
      - Info
      operationId: Info_getExportFormats
      responses:
        '200':
          description: OK
      summary: Info get export formats
      x-summary-source: derived
  /info/server:
    get:
      tags:
      - Info
      operationId: Info_getServer
      responses:
        '200':
          description: OK
      summary: Info get server
      x-summary-source: derived
  /info/settings/:DatasetPublishPopupCustomText:
    get:
      tags:
      - Info
      operationId: Info_getDatasetPublishPopupCustomText
      responses:
        '200':
          description: OK
      summary: Info get dataset publish popup custom text
      x-summary-source: derived
  /info/settings/:MaxEmbargoDurationInMonths:
    get:
      tags:
      - Info
      operationId: Info_getMaxEmbargoDurationInMonths
      responses:
        '200':
          description: OK
      summary: Info get max embargo duration in months
      x-summary-source: derived
  /info/settings/incompleteMetadataViaApi:
    get:
      tags:
      - Info
      operationId: Info_getAllowsIncompleteMetadata
      responses:
        '200':
          description: OK
      summary: Info get allows incomplete metadata
      x-summary-source: derived
  /info/version:
    get:
      tags:
      - Info
      summary: Get version and build information
      operationId: Info_getInfo
      responses:
        '200':
          description: Version and build information
  /info/zipDownloadLimit:
    get:
      tags:
      - Info
      operationId: Info_getZipDownloadLimit
      responses:
        '200':
          description: OK
      summary: Info get zip download limit
      x-summary-source: derived
