openapi: 3.0.3
info:
  title: KU Leuven Research Data Repository (RDR) Access Harvest API
  description: Dataverse-based institutional research data repository API for KU Leuven (rdr.kuleuven.be), running Dataverse 6.7.1. Public info endpoints are reachable without authentication; write operations require an API token, a registered ORCID, and the Dataset Creator role.
  version: 6.7.1
servers:
- url: https://rdr.kuleuven.be/api
  description: KU Leuven Research Data Repository (RDR) production API
tags:
- name: Harvest
paths:
  /harvest/clients:
    get:
      operationId: HarvestingClients_harvestingClients
      parameters:
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
  /harvest/clients/{nickName}:
    get:
      operationId: HarvestingClients_harvestingClient
      parameters:
      - name: nickName
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
    put:
      operationId: HarvestingClients_modifyHarvestingClient
      parameters:
      - name: nickName
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
    post:
      operationId: HarvestingClients_createHarvestingClient
      parameters:
      - name: nickName
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
    delete:
      operationId: HarvestingClients_deleteHarvestingClient
      parameters:
      - name: nickName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
  /harvest/clients/{nickName}/run:
    post:
      operationId: HarvestingClients_startHarvestingJob
      parameters:
      - name: nickName
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
  /harvest/server/oaisets:
    get:
      operationId: HarvestingServer_oaiSets
      parameters:
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
  /harvest/server/oaisets/add:
    post:
      operationId: HarvestingServer_createOaiSet
      parameters:
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
  /harvest/server/oaisets/{specname}:
    get:
      operationId: HarvestingServer_oaiSet
      parameters:
      - name: specname
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
    put:
      operationId: HarvestingServer_modifyOaiSet
      parameters:
      - name: specname
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
    delete:
      operationId: HarvestingServer_deleteOaiSet
      parameters:
      - name: specname
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
  /harvest/server/oaisets/{specname}/datasets:
    get:
      operationId: HarvestingServer_oaiSetListDatasets
      parameters:
      - name: specname
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Harvest
